

/*
  red: 8c2016
  yellow: e5a623
  blue: 294461
  brown: 553b16
  beige: bfa380
*/

body {
    font-family: Calibry, sans-serif;
//    background-color: #bfa380;
}

.toolbox {
    border: 2pt solid lightgray;
    padding: 5pt;
    margin: 5pt;
    display: table;
    width: 100%;
}

.toolbox:hover {
    border-color: darkgray;
}

.toolbox .title {
    background-color: lightgray;
    padding: 2pt;
    font-size: 8pt;
    font-weight: bold;
    width: 130px;
    display: table-cell;
    vertical-align: top;
}

.toolbox .content {
    width:auto;
    display: table-cell;
}

pre {
    margin: 2px;
}


.datatable, .datatable * th, .datatable * td {
    font-size: small;
    border-collapse: collapse;
    border: 1px solid gray;
}

.datatable {
    margin: 5pt;
}