/* Styles for general page elements. */

body {
    font-family: Calibry, sans-serif;
}

h1 {
    font-size: 12px;
    font-weight: bold;
}

p.devinfo {
    font-size: 8pt;
    color: gray;
    text-align: center;
}


/* Toolbox styles */

.toolbox {
    border: 2pt solid lightgray;
    padding: 5pt;
    margin: 5pt;
    display: table;
    width: 100%;
}

.toolbox:hover {
    border-color: darkgray;
}

.toolbox .title {
    background-color: lightgray;
    padding: 2pt;
    font-size: 8pt;
    font-weight: bold;
    width: 130px;
    display: table-cell;
    vertical-align: top;
    
}

.toolbox .content {
    width:auto;
    display: table-cell;
    padding-left: 6pt;
    font-size: 8pt;
}

pre {
    margin: 2px;
}


/* Styles for data tables */

.datatable, .datatable * th, .datatable * td {
    font-size: 8pt;
    border-collapse: collapse;
    border: 1px solid gray;
}

.datatable * th, .datatable * td {
    padding: 1.5pt;
}
